$boxShadow:  0px 3px 4px 0px rgba(0,0,0,0.2);
$boxGradient: linear-gradient(0deg, rgba($dark-gray,1) 10%, rgba($dark-gray,0.3) 55%);

#mainContainer{
	position:relative;
}

.sidebar{
	background-color: $dark-gray;
	height: 100vh;
	z-index:10;
	position:fixed;
	overflow-y: scroll;
	#titleBox{
		height: rem-calc(350);
		text-transform: uppercase;
		padding: rem-calc(50);
		color: $white;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position:relative;
		@include breakpoint(medium down) {
			height: rem-calc(175);
		}
		> div{
			position:relative;
			z-index: 1;
		}
		&:after{
			background: $boxGradient;
			position: absolute;
			content: '';
			top:0;
			bottom:0;
			left:0;
			right: 0;
			z-index:0;
		}
		h1, h2, h3, h4, h5, h6{
			color: $white;
			z-index: 1;
			letter-spacing: 5px;
			font-weight:500;
		}
		.profileImg{
			width: rem-calc(100);
			height: rem-calc(100);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border:1px solid $white;
			border-radius:50%;
			margin-top:rem-calc(25);
			margin-bottom:rem-calc(10);
		}
		.profileName{
			width:100%;
			text-transform: capitalize;
			font-weight: 500;
		}
	}
	.links{
		margin-top: rem-calc(20);
	}
	.linkIcon{
		color: $white;
		padding:rem-calc(15);
		background-color: transparent;
		transition: 0.3s;
		font-size: rem-calc(12);
		text-transform: uppercase;
		i{
			font-size: rem-calc(30);
			padding-bottom:rem-calc(10);
			width: 100%;
		}
		&:hover{
			background-color:#23242b;
			transition: 0.3s;
			cursor: pointer;
		}
		border-right:1px solid #41444c;
		&:nth-of-type(-n+6){
			border-bottom:1px solid #41444c;
		}
		@include breakpoint(large down) {
			&:nth-of-type(-n+8){
				border-bottom:1px solid #41444c;
			}
		}
	}
	@include breakpoint(medium down) {
		height: auto;
		position:relative;
	}
}

nav{
	background-color:#fff;
	position: fixed;
	height: rem-calc(70);
	width: 100%;
	z-index: 9;
	box-shadow: $boxShadow;
	.addButton{
		display: block;
		border-radius:50%;
		border: 1px solid $dark-gray;
		width: 42px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $dark-gray;
		transition: .3s;
		&:hover{
			color: $white;
			background-color:$dark-gray;
			transition: .3s;
		}
	}
}

.content{
	margin-top: rem-calc(100);
	@include breakpoint(medium down) {
		margin-top: rem-calc(20);
	}
	.title{
		@include breakpoint(medium down) {
			text-align: center;
			color:$white;
			background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(72,76,87,1) 100%);
			border-radius:rem-calc(5);
			margin-bottom: rem-calc(20);
			h3{
				font-size:rem-calc(16);
				line-height: rem-calc(50);
				margin-bottom:0;
				text-transform: uppercase;
				font-weight: 500;
			}
		}
	}
	.whatHappening{
		padding-bottom: 60%;
		border-radius:rem-calc(10);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: $white;
		position:relative;
		box-shadow: $boxShadow;
		margin-bottom: rem-calc(30);
		@include breakpoint(medium down) {
			padding-bottom: 80%;
		}
		&:after{
			background: $boxGradient;
			position: absolute;
			content: '';
			top:0;
			bottom:0;
			left:0;
			right: 0;
			z-index:0;
			border-radius:rem-calc(10);
		}
		.whatHappeningCalendar{
			width: rem-calc(60);
			z-index: 1;
			position: absolute;
			right: rem-calc(30);
			top: rem-calc(20);
			> div{
				height: rem-calc(40);
			}
			.day{
				font-size: rem-calc(24);
				font-weight: 500;
				background-color:$dark-gray;
				border-radius: rem-calc(10) rem-calc(10) 0 0;
			}
			.month{
				background-color:$white;
				color: $dark-gray;
				text-transform: uppercase;
				border-radius: 0 0 rem-calc(10) rem-calc(10);
			}
		}
		.whatHappeningContent {
			z-index: 1;
			position: absolute;
			width: 100%;
			height: 100%;
			padding:rem-calc(20) rem-calc(30);
		}
	}
}
.offer{
	background-color: $white;
	text-align: center;
	min-height: rem-calc(200);
	box-shadow: $boxShadow;
	border-radius: rem-calc(10);
	margin-bottom: rem-calc(30);
	> div {
		padding: rem-calc(20);
	}
	h5{
		text-transform: uppercase;
		font-weight: 500;
	}
	span{
		color: $medium-gray;
	}
}
.offers-container, .whatHappeningContainer{
	@include breakpoint(medium down) {
		padding-left:rem-calc(20);
		padding-right:rem-calc(20);
	}
}
.whatHappeningContainer > .cell{
	@include breakpoint(medium down) {
		padding-left:rem-calc(0);
		padding-right:rem-calc(0);
	}
}