<section class="grid-container-fluid" id="mainContainer">

  <!-- Top nav -->
  <nav class="grid-x show-for-large">
    <div class="cell large-offset-2 grid-x grid-padding-x align-middle">
      <div class="cell large-2">
        <a href="#" class="addButton"><i class="fas fa-plus"></i></a>
      </div>
      <div class="cell large-8">
      </div>
      <div class="cell large-2">
      </div>
    </div>
  </nav>


  <div class="grid-x">

    <!-- Sidebar -->
    <div class="cell large-2 sidebar">
      <div id="titleBox" class="text-center grid-x grid-padding-x align-center" style="background-image:url('http://placeimg.com/600/400/arch')">
        <h1>White City Place</h1>
        <div class="profileImg show-for-large" style="background-image:url('http://placeimg.com/500/500/people')"></div>
        <div class="profileName show-for-large">Kevin Triggle</div>
      </div>
      <div class="grid-x medium-up-2 xlarge-up-3 links show-for-large">
        <div class="cell linkIcon text-center">
          <i class="fas fa-home"></i>
          Home
        </div>
        <div class="cell linkIcon text-center">
          <i class="far fa-calendar-alt"></i>
          What's Happening
        </div>
        <div class="cell linkIcon text-center">
          <i class="far fa-newspaper"></i>
          Local News
        </div>
        <div class="cell linkIcon text-center">
          <i class="far fa-newspaper"></i>
          Local News
        </div>
        <div class="cell linkIcon text-center">
          <i class="fas fa-ticket-alt"></i>
          Offers
        </div>
        <div class="cell linkIcon text-center">
          <i class="fas fa-sign"></i>
          Lifestyle
        </div>
        <div class="cell linkIcon text-center">
          <i class="far fa-calendar-check"></i>
          Book a space
        </div>
        <div class="cell linkIcon text-center">
          <i class="fas fa-cash-register"></i>
          Retail
        </div>
        <div class="cell linkIcon text-center">
          <i class="fas fa-sign-out-alt"></i>
          Sign out
        </div>
      </div>
    </div>

    <!-- Main Content -->


    <div class="cell small-12 large-10 large-offset-2">
      <div class="cell grid-x content">
        <div class="cell small-12 large-7 grid-x grid-padding-x whatHappeningContainer">
          <div class="cell small-12 title">
            <h3>What's Happening</h3>
          </div>

          <!-- What's Happening -->
          <div class="cell small-12">
            <div class="whatHappening" style="background-image:url('http://placeimg.com/1200/800/tech')">
              <div class="whatHappeningCalendar">
                <div class="day grid-x align-middle align-center">18</div>
                <div class="month grid-x align-middle align-center">Nov</div>
              </div>
              <div class="grid-x grid-padding-x align-bottom whatHappeningContent">
                <div class="cell">
                  <h4>Light Up White City</h4>
                  <h5><i class="fas fa-map-marker-alt"></i> Central Avenue</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- What's Happening -->
          <div class="cell small-12 xlarge-6">
            <div class="whatHappening" style="background-image:url('http://placeimg.com/900/600/tech')">
              <div class="whatHappeningCalendar">
                <div class="day grid-x align-middle align-center">21</div>
                <div class="month grid-x align-middle align-center">Nov</div>
              </div>
              <div class="grid-x grid-padding-x align-bottom whatHappeningContent">
                <div class="cell">
                  <h4>Charles Farris Pop Up</h4>
                  <h5><i class="fas fa-map-marker-alt"></i> The Westworks</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- What's Happening -->
          <div class="cell small-12 xlarge-6">
            <div class="whatHappening" style="background-image:url('http://placeimg.com/902/602/tech')">
              <div class="whatHappeningCalendar">
                <div class="day grid-x align-middle align-center">21</div>
                <div class="month grid-x align-middle align-center">Nov</div>
              </div>
              <div class="grid-x grid-padding-x align-bottom whatHappeningContent">
                <div class="cell">
                  <h4>WCP Winter Movie Night</h4>
                  <h5><i class="fas fa-map-marker-alt"></i> The Studio (The Westworks)</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- What's Happening -->
          <div class="cell small-12 xlarge-6">
            <div class="whatHappening" style="background-image:url('http://placeimg.com/803/500/tech')">
              <div class="whatHappeningCalendar">
                <div class="day grid-x align-middle align-center">27</div>
                <div class="month grid-x align-middle align-center">Nov</div>
              </div>
              <div class="grid-x grid-padding-x align-bottom whatHappeningContent">
                <div class="cell">
                  <h4>Jack Tizard Christmas Market</h4>
                  <h5><i class="fas fa-map-marker-alt"></i> The Westworks</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- What's Happening -->
          <div class="cell small-12 xlarge-6">
            <div class="whatHappening" style="background-image:url('http://placeimg.com/905/605/tech')">
              <div class="whatHappeningCalendar">
                <div class="day grid-x align-middle align-center">27</div>
                <div class="month grid-x align-middle align-center">Nov</div>
              </div>
              <div class="grid-x grid-padding-x align-bottom whatHappeningContent">
                <div class="cell">
                  <h4>Weekly Run Club</h4>
                  <h5><i class="fas fa-map-marker-alt"></i> Orange Run Club Flag</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Offers -->
        <div class="cell small-12 large-5 offers-container">
          <div class="cell small-12 title">
            <h3>Offers</h3>
          </div>

          <!-- Offer -->
          <div class="cell small-12 grid-x offer align-middle">
            <div class="cell small-12 large-8 small-order-2 large-order-1">
              <h5>15% Off Food & Drink</h5>
              <p>Valid Mon-Fri Only at Westwood Sports Pub & Kitchen</p>
              <span><i class="far fa-clock"></i> Expires 17/11/2019</span>
            </div>
            <div class="cell small-12 large-4 small-order-1 large-order-2">
              <img src="https://fakeimg.pl/640x360"/>
            </div>
          </div>

          <!-- Offer -->
          <div class="cell small-12 grid-x offer align-middle">
            <div class="cell small-12 large-8 small-order-2 large-order-1">
              <h5>10% Off All Food And Drink WCP Corporate</h5>
              <p>Valid Mon-Fri Only</p>
              <span><i class="far fa-clock"></i> Expires 30/11/2019</span>
            </div>
            <div class="cell small-12 large-4 small-order-1 large-order-2">
              <img src="https://fakeimg.pl/640x360"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>